<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue';
import MessageList from '@/components/MessageList.vue';
import { ref } from 'vue';
const messages = ref<string[]>([])
const answers = ['คัมซามิดา','คินชานา','คัสซึดึ่ง']
function send(message: string) {
  messages.value.push(message) 
  answerWithComputer() 
}
function answerWithComputer() {
  const ranAns = Math.floor(Math.random()*10000)%answers.length
  const answer = answers[ranAns] 
  messages.value.push(answer)
}
</script>

<template>
  <div>
    <MessageList :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>
