<script setup lang="ts">
const prop = defineProps<{
    messages: string[]
}>()
</script>
<template>
    <div style="height: 500px;overflow-y: auto;">
    <div v-for="(msg, index) of messages" :key="index">{{ msg }}</div>
    </div>
</template>